#about {
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: background-color 0.5s;
    overflow: hidden;
    position: relative;
}

#about h1 {
    font-size: calc(4rem + 1vw);
    font-family: 'Gilroy', sans-serif;
    color: white;
    width: 100%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}

#about img {
    box-shadow: 10px 10px 10px 0 #00000044;
    border-radius: 3px;

    max-width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#about p {
    color: white;
}
