section:nth-child(1) {
    background: rgb(236, 134, 118);
}

section.back {
    background: rgb(236, 134, 118);
}

section:nth-child(even) {
    background: white;
}

.title {
    max-width: 100%;
    width: 225px;
}

.subtitle {
    font-weight: 400;
}

#about {
    padding-top: calc(10vh);
}

section {
    height: auto;
}

.main-img {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    z-index: 1;
}

.main-img img {
    max-width: 100%;
    position: relative;
    border-radius: 5px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.301)
}

.about-img {
    border-radius: 5px;
    box-shadow: -5px 5px 30px 0 rgba(0, 0, 0, 0.301);
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0)
}

.eslogan {
    width: 225px;
    text-align: right;
    margin: 40px auto 0 auto;
}

@media (max-width: 475px) {

    .delay {
        transition-delay: 0s;
    }

    #main {
        min-height: 1px;
    }

    .main-img {
        min-height: 1px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .eslogan {
        font-size: 1.375em;

    }

    .about-title {
        width: 90vw;
    }
}
