@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy-Light.otf");
    font-weight: lighter;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy-ExtraBold.otf");
    font-weight: bold;
}

@font-face {
    font-family: 'Mont';
    src: url("../assets/fonts/Mont-ExtraLight.otf");
    font-weight: lighter;
}

@font-face {
    font-family: 'Mont';
    src: url("../assets/fonts/Mont-Heavy.otf");
    font-weight: bold;
}

.contrast-navbar {
    background-color: black !important;
}

.contrast {
    mix-blend-mode: difference !important;
    color: white !important;
}

#lang {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 2;
    width: 30px;
    height: 30px;
    padding: 2px;
    position: fixed;
    bottom: 13px;
    left: 13px;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-image: url('../assets/imgs/lenguage.svg')
}

#lang-menu {
    z-index: 3;
    position: fixed;
    bottom: 13px;
    left: 13px;
    overflow: hidden;
    transition: all 0.5s;
    background: black;
    color: white;
    max-height: 300px;
    max-width: 300px;

}

#lang-menu ul{
    padding: 10px 20px;
    margin: 0;
}

#lang-menu li{
    list-style-type: none;
    font-family: 'Mont';
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase
}

.lang-hide{
    /* max-width: 0 !important; */
    /* max-height: 0 !important; */
}

.acces-bg {
    background-color: rgb(0, 0, 0) !important;
}

@media (max-width:850px) {
    #acces {
        display: none;
    }
}
