@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy-Light.otf");
    font-weight: lighter;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy-ExtraBold.otf");
    font-weight: bold;
}

@font-face {
    font-family: 'Mont';
    src: url("../assets/fonts/Mont-ExtraLight.otf");
    font-weight: lighter;
}

@font-face {
    font-family: 'Mont';
    src: url("../assets/fonts/Mont-Heavy.otf");
    font-weight: bold;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    mix-blend-mode: difference !important;
    color: white !important;
} */
