@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-Thin.otf");
    font-weight: 100;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-UltraLight.otf");
    font-weight: 200;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-SemiBold.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-ExtraBold.otf");
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../assets/fonts/Gilroy/Gilroy-Black.otf");
    font-weight: 900;
}

@font-face {
    font-family: 'Mont';
    src: url("../assets/fonts/Mont-Heavy.otf");
    font-weight: bold;
}


button:focus{
    outline: none
}

.contrast-navbar {
    background-color: black !important;
}

.contrast {
    mix-blend-mode: difference !important;
    color: white !important;
}

#lang {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 2;
    width: 30px;
    height: 30px;
    padding: 2px;
    position: fixed;
    bottom: 13px;
    left: 13px;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-image: url('../assets/imgs/lenguage.svg')
}

.lang-close {
    background-image: url('../assets/imgs/close.svg') !important;
}

#lang-menu {
    z-index: 3;
    position: fixed;
    bottom: 13px;
    left: 13px;
    overflow: hidden;
    background: rgb(17, 17, 17);
    color: white;
    max-height: 300px;
    max-width: 300px;
    transition: all 0.4s;;
}

#lang-menu ul{
    padding: 10px 20px;
    margin: 0;
}

#lang-menu li{
    list-style-type: none;
    font-family: 'Mont';
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

#lang-menu li a.active{
    color:white;
}

#lang-menu li a{
    color:rgba(255, 255, 255, 0.63);
}

#lang-menu li a:hover{
    color:white;
    text-decoration: none;
}


.lang-hide{
    transition: none !important;
    max-width: 0 !important;
}

.acces-bg {
    background-color: rgba(0, 0, 0, 0.45) !important;
    border-radius: 2px;}

@media (max-width:850px) {
    #acces {
        display: none;
    }
}
