html,
body {
    height: 100%;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
}

section {
    position: relative;
    height: auto;
    min-height: 600px;
    width: 100%;
}

#main {
    height: 600px;
    max-height: 70vh;
    min-height: 400px;
}

#main .container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.title {
    display: block;
}

.eslogan {
    font-size: 1.6em;
    color: white;

}

.subtitle {
    font-size: 1.250em;
    color: white;
    font-weight: 400
}

.logo {
    width: 80%;
}

.main {
    flex-grow: 1;
    align-items: center;
}

.main .col-12 {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#about {
    padding-top: calc(10vh + 40px);
}

.about-title {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    margin-bottom: 30px
}

.about-text {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.250em;
    flex-direction: column
}

#about .container {
    display: flex;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    min-height: 100px;
}

.back img {
    height: 50px;
}

.about-text a {
    text-decoration: underline;
}

.tip {
    font-size: 14px;
    color: gray;
}


#about .row {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    #main {
        max-height: initial;
        height: auto;
    }

    .main {
        margin: 10vh 0 0 0;
    }

    .about-img-container {
        display: none;
    }

    #about {
        padding-top: 40px;
        margin-bottom: 20px;
    }

    section {
        height: auto;
        min-height: 0;
    }
}

@media (max-width: 992px) {
    .about-img-container {
        padding: 0 !important;
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .about-img-container img:nth-child(2) {
        display: none;
    }

    .eslogan {
        text-align: center;
        font-size: 1.25em
    }
}
