section {
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 100%;
}

#main {
    height: 600px;
    max-height: 70vh;
    min-height: 400px;

}

#main .container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.title {
    width: 20rem;
    display: block;
}

.eslogan {
    font-size: 26px;
    color: white;

}

.subtitle {
    font-size: 20px;
    color: white;
    font-weight: lighter
}

.logo {
    width: 80%;
}

.main {
    flex-grow: 1;
    align-items: center;
}

.main .col-12 {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.main-img {
    height: 70vh;
    min-height: 400px;
    margin: 10vh 0 0 0;
    z-index: 1;
}

#about{
    padding-top: 80px;
}

.about-title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    margin-bottom: 30px
}

#about .container{
    display: flex;
}
