::selection {
    background: rgb(183, 229, 255);
    /* WebKit/Blink Browsers */

}

#work {
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 40px 0 #00000091;
    /* z-index: 1; */
}

#work #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

#work h1 {
    font-size: 3.750em;
    font-family: 'Mont', sans-serif;
    color: white;
    width: 100%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    transition: color 0.3s;
}

.project {
    margin: 40px 20px 0 20px;
    width: calc(25vw - 60px);
    height: calc(25vw - 60px);
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: all 0.4s;
    border-radius: 0 px;
}

.project:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.project:hover img {
    transform: scale(1.2);
}

.project img {
    transition: all 0.4s;
    /* mix-blend-mode: difference; */
}

.project a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.cleanotes .project-logo {
    margin: 10px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.534));
}

.title {
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 3vw;
    margin: 7% 0 0 5%;
}

.cleanotes .text {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5vw;
    margin: 4% 7% 0 7%;
    opacity: 0;
    transition: opacity 1s;
}

.cleanotes .project-img {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.534));
    transition: all 1s;
}

.cleanotes .project-img:nth-child(3) {
    top: 30%;
    left: 15%;
}

.cleanotes .project-img:nth-child(4) {
    top: 40%;
    left: 35%;
}

.cleanotes:hover .project-img:nth-child(3) {
    top: 60%;
    left: 20%;
}

.cleanotes:hover .project-img:nth-child(4) {
    top: 70%;
    left: 30%;
}

.cleanotes:hover .text {
    opacity: 1;
}

/* .riddle {
    background: linear-gradient(-45deg, #4edbd0, #39e695);
} */

.riddle .project-img {
    top: 30%;
    right: 5%;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.336);
    transition: all 1s;
}

.barenys .project-img {
    top: 40%;
    left: 30%;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.336);
    transition: all 1s;
}

.riddle:hover .project-img,
.barenys:hover .project-img {
    top: 70%;
}

.opacity-0 {
    opacity: 0;
}

.bg-navbar-cleanotes {
    background-color: rgb(255, 161, 0) !important;
    box-shadow: none;
    /* transition-delay: 0.3s; */
}

.bg-navbar-riddle {
    background-color: rgb(64, 191, 161) !important;
    box-shadow: none;
    /* transition-delay: 0.3s; */

}

.bg-navbar-barenys {
    background-color: rgb(209, 209, 209) !important;
    box-shadow: none;
    /* transition-delay: 0.3s; */

}

.bg-navbar-barenys .barenys img,
.bg-navbar-barenys .logo,
.bg-navbar-barenys h1,
.bg-navbar-barenys li,
.bg-navbar-barenys #logoLink {
    mix-blend-mode: difference !important;
}

.bg-barenys {
    mix-blend-mode: difference !important;
}

.bg-navbar-artio {
    background-color: rgb(121, 182, 30) !important;
    box-shadow: none;
    transition-delay: 0 !important;
}

/* .bg-navbar-artio h1 {
    color: transparent !important;
} */

/* .barenys {
    background: linear-gradient(135deg, #ffffff, #f9d7d2);
}

.spam {
    background: linear-gradient(50deg, #99cc33, #2b2c2a, #2b2c2a);
} */

@media (max-width: 1100px) {
    .project {
        width: calc(41%);
        height: calc(41vw);
        margin: 6vw 3vw 0 3vw;
    }

    #work h1 {
        margin-top: var(--navbar-height);
    }

    #work {
        min-height: 0px;
    }

}

@media (max-width: 700px) {}

@media (max-width: 500px) {

    .project {
        width: calc(44%);
        height: calc(44vw);
        margin: 4vw 2vw 0 2vw;
    }
}


/* @media (max-width: 1005px) {
    .project {
        height: 80vw;
        width: 50%;
    }
    .cleanotes .title {
        font-size: 6vw;
    }
    .cleanotes .text {
        font-size: 3vw;
    }
}

@media (max-width: 479px) {
    .project {
        height: 160vw;
        width: 100%;
    }
    .cleanotes .title {
        font-size: 12vw;
    }
    .cleanotes .text {
        font-size: 6vw;
    }
} */
